html
  head
    title='Beautiful sea'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello beautiful sea & beaches!
        p Click the button below to go to the sea ...
        p
          a.btn.btn-primary(href="https://en.wikipedia.org/wiki/Coast_of_the_Gods") Seaside
        p
